@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem Vindo ao site da Escola SENAI de Informatica</h1>
    <p>Aproveite a cadastre um Aluno!</p>
</div>
